<div class="row">
	<div class="col-12">
		<div class="card-box">
			<h4 class="mt-0 mb-2 header-title">Thông tin người dùng</h4>

			<div class="row">
				<div class="col-md-2 mb-1">
					<a href="/admin/users?page=1&limit=10">
						<i class="dripicons-clockwise"> Tải lại </i>
					</a>
				</div>
			</div>

			<form id="form-filter" method="GET" class="form-inline">
				<div class="row">
					<!-- Display number of records	 -->
					<div class="form-group">
						<div class="col-md-0 ml-2 mb-1">Hiển thị</div>
						<div class="col-md-1">
							<select
								class="custom-select select-filter mb-2"
								id="number-of-records"
								name="limit"
							>
								<!-- item-->
								<% if (limit == 10) { %>
								<option value="10" selected>
									<% } else { %>
								</option>
								<option value="10"><% } %> 10</option>
								<!-- item-->
								<% if (limit == 15) { %>
								<option value="15" selected>
									<% } else { %>
								</option>
								<option value="15"><% } %> 15</option>
								<!-- item-->
								<% if (limit == 20) { %>
								<option value="20" selected>
									<% } else { %>
								</option>
								<option value="20"><% } %> 20</option>
							</select>
						</div>
						<div class="col-md-1 mr-3"></div>
						<div class="col-md-0 ml-2 mb-1">bản ghi</div>
					</div>

					<!-- filter role -->
					<div class="col-md-1 px-0 mt-2">Vai trò</div>
					<div class="col-md-1 mb-1 px-0 form-group">
						<select
							id="role-filter"
							name="role"
							class="custom-select select-filter mb-1"
						>
							<% if (typeof role == "undefined") { %>
							<option value="" selected>Tất cả</option>
							<option value="3">Bác sĩ</option>
							<option value="2">Y tá</option>
							<option value="1">Quản trị viên</option>
							<% } else { %>
							<option value="">Tất cả</option>
							<% if (role == 3) { %>
							<option value="3" selected>Bác sĩ</option>
							<% } else { %>
							<option value="3">Bác sĩ</option>
							<% } %> <% if (role == 2) { %>
							<option value="2" selected>Y tá</option>
							<% } else { %>
							<option value="2">Y tá</option>
							<% } %> <% if (role == 1) { %>
							<option value="1" selected>Quản trị viên</option>
							<% } else { %>
							<option value="1">Quản trị viên</option>
							<% } %> <% } %>
						</select>
					</div>

					<div class="col-md-1"></div>
					<div class="col-md-4 ml-auto">
						<!-- Search -->
						<div class="form-group app-search-box">
							<div class="input-group">
								<% if (typeof search == "undefined") { %>
								<input
									type="text"
									class="form-control"
									name="q"
									placeholder="Nhập tên để tìm kiếm..."
								/>
								<% } else { %>
								<input
									type="text"
									class="form-control"
									name="q"
									value="<%= search %>"
									placeholder="Nhập tên để tìm kiếm..."
								/>
								<% } %>
								<div class="input-group-append bg-primary">
									<button class="btn" type="submit">
										<i class="fe-search"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="mb-2 ml-2">
						<a href="/admin/users/create" class="btn btn-primary">
							<i class="fe-plus-circle"></i> Thêm mới
						</a>
					</div>
				</div>
			</form>

			<div class="table-responsive">
				<table
					class="table table-bordered table-hover mb-0 text-center"
				>
					<thead class="thead-dark">
						<tr>
							<th>#</th>
							<th>Ảnh</th>
							<th>Tên người dùng</th>
							<th>Ngày sinh</th>
							<th>Giới tính</th>
							<th>Email</th>
							<th>Số điện thoại</th>
							<th>Vai trò</th>
							<th>Hành động</th>
						</tr>
					</thead>
					<tbody>
						<% if (users.length != 0) { %> <%
						users.forEach(function(user) { %>
						<tr>
							<th scope="row"><%= user.id %></th>
							<td>
								<% if (user.avatar) { %>
								<img
									src="<%= user.avatar %>"
									alt="user-image"
									height="100px"
									width="100px"
								/>
								<% } else { %> no image <% } %>
							</td>

							<td><%= user.name %></td>
							<td><%= user.birthday %></td>
							<td><%= user.getGenderName() %></td>
							<td><%= user.email %></td>
							<td><%= user.phone_number %></td>
							<% if (user.role == 1) { %>
							<td class="text-danger">Quản trị viên</td>
							<% } else if (user.role == 2) { %>
							<td class="text-primary">Y tá</td>
							<% } else if (user.role == 3) { %>
							<td class="text-success">Bác sĩ</td>
							<% } %>
							<td>
								<button
									class="btn btn-sm btn-primary reset-password"
									data-toggle="modal"
									data-target="#ModalPassword"
									data-id="<%= user.id %>"
								>
									Reset mật khẩu
								</button>
								<button
									id="update-status-btn"
									class="btn btn-sm btn-warning"
									data-toggle="modal"
									data-target="#ModalStatus"
									data-id="<%= user.id %>"
								>
									Trạng thái
								</button>

								<div
									class="modal fade"
									id="ModalPassword"
									tabindex="-1"
									role="dialog"
									aria-labelledby="myModalLabel"
								>
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h4
													class="modal-title"
													id="myModalLabel"
												>
													Thông báo
												</h4>
												<button
													type="button"
													class="close"
													data-dismiss="modal"
													aria-label="Close"
												>
													<span aria-hidden="true"
														>&times;</span
													>
												</button>
											</div>
											<div class="modal-body">
												<p>
													Xác nhận đặt lại mật khẩu
													của người dùng <%= user.name
													%>?
												</p>
											</div>
											<div class="modal-footer">
												<button
													type="button"
													class="btn btn-secondary"
													data-dismiss="modal"
												>
													Đóng
												</button>
												<button
													id="confirm-reset-password-btn"
													type="button"
													class="btn btn-primary"
												>
													Xác nhận
												</button>
											</div>
										</div>
									</div>
								</div>
								<div
									class="modal fade"
									id="ModalStatus"
									tabindex="-1"
									role="dialog"
									aria-labelledby="myModalLabel"
								>
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h4
													class="modal-title"
													id="myModalLabel"
												>
													Thông báo
												</h4>
												<button
													type="button"
													class="close"
													data-dismiss="modal"
													aria-label="Close"
												>
													<span aria-hidden="true"
														>&times;</span
													>
												</button>
											</div>
											<div class="modal-body">
												<p>
													Trạng thái người dùng <%=
													user.name %> hiện tại:
												</p>
												<% if (user.status == 1) { %>
												<p class="text-primary">
													Đang đi làm
												</p>
												<% } else if (user.status == 0)
												{ %>
												<p class="text-success">
													Đã nghỉ việc
												</p>
												<% } %>
												<p>
													Xác nhận thay đổi trạng
													thái?
												</p>
											</div>
											<div class="modal-footer">
												<button
													type="button"
													class="btn btn-secondary"
													data-dismiss="modal"
												>
													Đóng
												</button>
												<button
													id="confirm-update-status-btn"
													type="button"
													class="btn btn-primary"
												>
													Xác nhận
												</button>
											</div>
										</div>
									</div>
								</div>
							</td>
						</tr>
						<% }); %> <% } else { %>
						<tr>
							<td colspan="7" class="text-center">
								<h4>Không có dữ liệu</h4>
							</td>
						</tr>
						<% } %>
					</tbody>
				</table>
				// pagination
				<div class="row pt-2">
					<div class="col-12">
						<nav aria-label="...">
							<% if (pages > 0) { %>
							<ul class="pagination text-center">
								<% if (current == 1) { %>
								<li class="page-item disabled">
									<a class="page-link" href="#" tabindex="-1"
										>Đầu</a
									>
								</li>
								<% } else { %>
								<li class="page-item">
									<a
										class="page-link"
										href="/admin/users?page=1&limit=<%= limit %>&role=<%= role %>&q=<%= search %>"
										tabindex="-1"
									>
										Đầu
									</a>
								</li>
								<% } %> <% let i = (Number(current) > 5 ?
								Number(current) - 4 : 1) %> <% if (i != 1) { %>
								<li class="page-item disabled">
									<a class="page-link">...</a>
								</li>
								<% } %> <% for (; i <= pages && i <=
								Number(current) + 4; i++) { %> <% if (i ==
								current) { %>
								<li class="page-item active">
									<a class="page-link"><%=i%></a>
								</li>
								<% } else { %>
								<li class="page-item">
									<a
										class="page-link"
										href="/admin/users?page=<%=i%>&limit=<%= limit %>&role=<%= role %>&q=<%= search %>"
										><%=i%>
									</a>
								</li>
								<% } %> <% if (i == Number(current) + 4 && i <
								pages ) { %>
								<li class="page-item disabled">
									<a class="page-link">...</a>
								</li>
								<% } %> <% } %> <% if (current == pages) { %>
								<li class="page-item disabled">
									<a class="page-link">Cuối</a>
								</li>
								<% } else { %>
								<li class="page-item">
									<a
										class="page-link"
										href="/admin/users?page=<%= pages %>&limit=<%= limit %>&role=<%= role %>&q=<%= search %>"
									>
										Cuối
									</a>
								</li>
								<% } %>
							</ul>
							<% } %>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<figure class="highcharts-figure col-12">
		<div id="users-chart-container"></div>
	</figure>
</div>

<%- contentFor('css') %>
<link
	href="assets/libs/toastr/toastr.min.css"
	rel="stylesheet"
	type="text/css"
/>

<%- contentFor('js') %>
<script src="assets/libs/toastr/toastr.min.js"></script>
<script src="assets/js/pages/toastr.init.js"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script>
	$(document).ready(function () {
		toastr.options = {
			closeButton: true,
			debug: false,
			newestOnTop: false,
			progressBar: false,
			positionClass: 'toast-bottom-left',
			preventDuplicates: false,
			onclick: null,
			showDuration: '300',
			hideDuration: '1000',
			timeOut: '5000',
			extendedTimeOut: '1000',
			showEasing: 'swing',
			hideEasing: 'linear',
			showMethod: 'fadeIn',
			hideMethod: 'fadeOut',
		};

		function resetPassword() {
			var userId = $('.reset-password').data('id');
			console.log(userId);
			$.ajax({
				method: 'PUT',
				url: '/admin/users/' + userId + '/reset-password',
				success: function (response) {
					$('#ModalPassword').hide();
					$('body').removeClass('modal-open');
					$('.modal-backdrop').remove();

					toastr['success'](
						'Reset mật khẩu thành công',
						'Thành công'
					);
				},
				error: function (xhr, status, error) {
					toastr['error'](
						'Không thể reset mật khẩu người dùng này',
						'Thất bại'
					);
				},
			});
		}

		function updateUserStatus(userId, currentBtn) {
			$.ajax({
				method: 'PUT',
				url: '/admin/users/' + userId + '/update-status',
				data: { status: status },
				success: function (response) {
					$('#ModalStatus').hide();
					$('body').removeClass('modal-open');
					$('.modal-backdrop').remove();

					// remove the current row
					let currentRow = currentBtn.closest('tr');
					currentRow.remove();

					toastr['success'](
						'Cập nhật trạng thái thành công',
						'Thành công'
					);
				},
				error: function (xhr, status, error) {
					toastr['error'](
						'Không cập nhật trạng thái người dùng này',
						'Thất bại'
					);
				},
			});
		}

		$('.select-filter').change(function () {
			$('#form-filter').submit();
		});

		$('#confirm-reset-password-btn').click(function () {
			resetPassword();
		});

		$('#update-status-btn').click(function () {
			let userId = $('#update-status-btn').data('id');
			let currentBtn = $(this);

			$('#confirm-update-status-btn').click(function () {
				updateUserStatus(userId, currentBtn);
			});
		});

		//get percent of users by role
		$.ajax({
			type: 'POST',
			url: '/admin/users/userPercentage',
			dataType: 'json',
			success: function (response) {
				const { data } = response;
				//display users chart
				Highcharts.chart('users-chart-container', {
					chart: {
						type: 'pie',
					},
					title: {
						text: 'Tỷ lệ người dùng',
						align: 'center',
					},

					plotOptions: {
						series: {
							dataLabels: {
								enabled: true,
								format: '{point.name}: {point.y:.1f}%',
							},
						},
					},

					tooltip: {
						headerFormat:
							'<span style="font-size:11px">{series.name}</span><br>',
						pointFormat:
							'<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>',
					},

					series: [
						{
							name: 'Người dùng',
							colorByPoint: true,
							data: [
								{
									name: 'Admin',
									y: data.adminPercentage,
								},
								{
									name: 'Y tá',
									y: data.nursePercentage,
								},
								{
									name: 'Bác sĩ',
									y: data.doctorPercentage,
								},
							],
						},
					],
				});
			},
			error: function (error) {
				console.log(error);
			},
		});
	});
</script>
