<div class="doctor-profile">
	<div class="wrapper">
		<div class="a-doctor-infor">
			<div class="a-doctor-img">
				<% if (doctor.user.avatar) { %>
				<img
					data-src=""
					src="<%= doctor.user.avatar %>"
					class="luoi"
					width="80"
					height="80"
				/>
				<% } else { %>
				<img
					data-src=""
					src="https://api.dicebear.com/6.x/initials/svg?seed=<%= doctor.user.name %>"
					class="luoi"
					width="80"
					height="80"
				/>
				<% } %>
			</div>

			<div class="a-doctor-describe">
				<h2 class="a-doctor-name">
					<%= doctor.getRankName() %> <%= doctor.user.name %>
				</h2>
				<b> Chuyên khoa: </b> <%= doctor.speciality.name %>
			</div>
		</div>

		<div class="a-doctor-shedule">
			<form id="doctor-schedule-form" method="GET" class="form-inline">
				<input
					type="hidden"
					name="doctor_id"
					value="<%= doctor.id %>"
				/>
				<% if (selectedDate) { %>
				<p class="a-doctor-select-time">
					<select class="date-select" name="date">
						<% if (doctor.schedules.length != 0) { %> <%
						doctor.schedules.forEach(function (schedule) { %> <% if
						(selectedDate == schedule.date) { %>
						<option value="<%= schedule.date %>" selected>
							<%= new
							Date(schedule.date).toLocaleDateString('en-GB') %>
						</option>
						<% } else { %>
						<option value="<%= schedule.date %>">
							<%= new
							Date(schedule.date).toLocaleDateString('en-GB') %>
						</option>
						<% } %> <% }) %> <% } %>
					</select>
				</p>
				<% } %>
			</form>

			<div
				data-thu=""
				data-chonngay=".lich-c217-d9"
				class="a-doctor-day display-block mot-bs-thu3 lich-c217-d9 lich-c217-d9-p44 hien"
			>
				<h3 class="a-doctor-shedule-title">
					<img
						src="/client/assets/images/svg/schedule-icon.svg"
						alt=""
					/>
					Lịch Khám
				</h3>

				<div class="display_flex">
					<div class="today-shedule">
						<div class="a-doctor-avaiable-shedule">
							<% if (shifts.length > 0) { %> <%
							shifts.forEach(function (each) { %>
							<a
								href="#"
								rel="nofollow"
								class="shift-hour available-clinic-hour"
								data-id="<%= each.id %>"
								data-start-time="<%= each.shift.start_time %>"
							>
								<%= each.shift.start_time.slice(0, -3) %> - <%=
								each.shift.end_time.slice(0, -3) %>
							</a>
							<% }) %> <% } else { %>
							<div class="no-schedule">Không có lịch khám</div>
							<% } %>
						</div>
						<div class="a-doctor-shedule-guide">
							Chọn
							<img
								src="/client/assets/images/svg/choose-icon.svg"
								alt=""
							/>
							và đặt (Phí đặt lịch 0<sup>đ</sup>)
						</div>
						<div>
							(<span style="color: red"> Lưu ý: </span>
							<i
								>Lịch khám chỉ có thể đặt trước tối thiểu 1
								giờ</i
							>
							)
						</div>
					</div>

					<div class="schedule-infor">
						<div class="schedule-location">
							<h3>Địa chỉ Khám</h3>
							<div class="schedule-clinic-name">
								Phòng khám y tế QTN
							</div>
							<div class="schedule-clinic-address">
								123 Nguyễn Lương Bằng, Hòa Khánh, Đà Nẵng
							</div>
						</div>
						<div class="schedule-price" data-bs="217" data-nk="44">
							<h3>Giá Khám:</h3>
							<span class="schedule-price-inshort">
								<%= new Intl.NumberFormat('vi-VN', { style:
								'currency', currency: 'VND'
								}).format(doctor.price); %>
							</span>
						</div>
					</div>
				</div>

				<div class="xeplai"></div>
			</div>
		</div>
	</div>

	<div class="doctor-detailed-profile">
		<div class="wrapper">
			<div class="doctor-content" id=""><%= doctor.description %></div>
		</div>
	</div>

	<div class="review-from-client">
		<div class="wrapper">
			<div class="review-title">
				Phản hồi của bệnh nhân sau khi đi khám
			</div>

			<div class="review-list">
				<div class="review-form form-group col-xl-8 col-sm-12" id="review-form">
					<h6 class="text-center" style="margin-bottom:10px;">Đánh giá sau khi khám:</h6>
					<div class="row col-12">
						<div class="col-12">
							<div class="input-box">
								<span class="before-input">
									<i class="fas fa-user"></i>
								</span>
								<input
									type="text"
									class="col-sm-12 input-info"
									id="name"
									name="name"
									placeholder="Họ và tên"
								/>
							</div>
						</div>
						<div class="col-xl-6 col-md-12">
							<div class="input-box">
								<span class="before-input">
									<i class="fas fa-phone"></i>
								</span>
								<input
									type="number"
									class="col-sm-12 input-info"
									id="phone"
									name="phone_number"
									placeholder="Số điện thoại"
								/>
							</div>
						</div>
						<div class="col-xl-6 col-md-12">
							<div class="input-box">
								<span class="before-input">
									<i class="fas fa-envelope"></i>
								</span>
								<input
									type="text"
									class="col-sm-12 input-info"
									id="email"
									name="email"
									placeholder="email@gmail.com"
								/>
							</div>
						</div>
						<div class="col-12">
							<div class="input-box">
								<span class="before-input">
									<i class="fas fa-info-circle"></i>
								</span>
								<textarea
									name="comment"
									class="col-sm-12 input-info"
									id="comment"
									rows="2"
									placeholder="Đánh giá"
								></textarea>
							</div>
						</div>
					</div>
					<div class="text-center">
						<i class="fab fa-get-pocket" style="color:green"></i>
						QTN Clinic cam kết bảo mật thông tin của bạn
					</div>

					<div class="text-right">
						<button type="button" id="submit-review-btn" class="btn btn-primary" data-id="<%= doctor.id %>">Đánh giá</button>
					</div>
				</div>
				<% if (reviews.length != 0) { %>
					<% reviews.forEach(function (review) { %>
						<div class="review col-xl-8 col-sm-12">
							<strong><%= review.name %></strong>&nbsp
							<span style="color:#45c3d2; float:right;">
								<i class="fas fa-check-circle"></i>
								Đã đăng vào lúc
								<%= new Date(review.dataValues.createdAt).toLocaleString('vi-VN', {
									hour: '2-digit',
									minute: '2-digit',
									second: '2-digit',
									day: '2-digit',
									month: '2-digit',
									year: 'numeric'
								}) 
								%>
							</span>
							<div><span style="font-style: italic;">Đánh giá:</span> <%= review.comment %></div>
						</div>
					<% }); %>
				<% } else { %>
					<div class="no-review"><strong>Không có đánh giá</strong></div>
				<% } %>

			
			</div>
		</div>
	</div>
</div>

<%- contentFor('css') %>
<style>
	.review-list {
		margin-top: 20px;
	}
	.review {
		display:block;
		padding: 7px 10px;
		margin-bottom: 10px;
		background-color: #dddddd;
		border-radius: 10px;
	}
	.review-form {
		display:block;
		padding: 7px 10px;
		margin-bottom: 10px;
		background-color: #fff;
		border: 1px solid #ccc;
		border-radius: 10px;
		box-shadow: 0px 2px 4px 0px
		rgb(0,0,0,.2);
	}

	.input-box {
		position: relative;
	}

	.before-input{
		max-width: fit-content;
		position: absolute;
		z-index: 1;
		font-size: 1.1em;
		left: 7px;
		top:50%;
		transform: translateY(-70%);
	}

	.after-input{
		max-width: fit-content;
		position: absolute;
		z-index: 1;
		font-size: 1.1em;
		right: 7px;
		top:50%;
		transform: translateY(-70%);
	}

	.col-sm-12.input-info {
		padding: 15px 20px 15px 34px;
		border: 1px solid #ccc;
		border-radius: 5px;
		margin-bottom: 15px;
	}

	.col-sm-12.input-info:focus {
		outline:none;
		border: 2px solid #71b6f9 !important;
		border-radius: 5px !important;
		box-shadow: 0 0 5px #71b6f9 !important;
	}

	.col-sm-12.input-info.invalid {
		outline: none;
		border: 2px solid #dd7e88 !important;
		border-radius: 5px !important;
		box-shadow: 0 0 5px #dc4050 !important;
	}



	button[type='submit'] {
		text-transform: uppercase;
		padding: 7px 15px;
		margin-left: 10px;
		border-radius: 5px;
		cursor: pointer;
		box-shadow: 0px 2px 4px 0px
		rgb(0,0,0,.2);
		margin-top: 15px;
	}
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
<%- include('style') %> <%- contentFor('js') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<!-- momentjs -->
<script

	src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"
	crossorigin="anonymous"
	referrerpolicy="no-referrer"
></script>
<script>
	function disableShifts(date) {
		$('.shift-hour').each(function () {
			let start_time = $(this).data('start-time');
			start_time = date + ' ' + start_time;
			// convert start time to date
			start_time = moment(start_time).toDate();
			let current_time = moment().toDate();
			// add 1 hour to current_time
			current_time.setHours(current_time.getHours() + 1);

			if (current_time >= start_time) {
				$(this).attr('href', '#');
				$(this).removeClass('available-clinic-hour');
				$(this).removeAttr('data-id');
				$(this).addClass('disabled-clinic-hour');
			}
		});
	}

	$(document).ready(function () {
		let date = $('.date-select').val();
		// disable shifts that have passed
		disableShifts(date);

		$('.date-select').change(function () {
			$('#doctor-schedule-form').submit();
		});

		$('.available-clinic-hour').click(function () {
			let schedule_id = $(this).data('id');
			// assign schedule_id to href in <a>
			$(this).attr('href', '/booking/' + schedule_id);
		});


		toastr.options = {
			closeButton: true,
			debug: false,
			newestOnTop: false,
			progressBar: false,
			positionClass: 'toast-bottom-left',
			preventDuplicates: true,
			onclick: null,
			showDuration: '300',
			hideDuration: '1000',
			timeOut: '5000',
			extendedTimeOut: '1000',
			showEasing: 'swing',
			hideEasing: 'linear',
			showMethod: 'fadeIn',
			hideMethod: 'fadeOut',
		};

		const name = $('#name');
		const email = $('#email');
		const phone = $('#phone');
		const comment = $('#comment');
		const submitBtn = $('#submit-review-btn');
		name.on('input', function () {
			if (name.val() == '') {
				name.addClass('invalid');
			} else {
				name.removeClass('invalid');
			}
		});
		email.on('input', function () {
			if (email.val() == '' || !email.val().match(/^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/)) {
				email.addClass('invalid');
			} else {
				email.removeClass('invalid');
			}
		});

		phone.on('input', function () {
			if (phone.val() == '' || phone.val().length < 10) {
				phone.addClass('invalid');
			} else {
				phone.removeClass('invalid');
			}
		});
		comment.on('input', function () {
			if (comment.val() == '') {
				comment.addClass('invalid');
			} else {
				comment.removeClass('invalid');
			}
		});
		
		$('#submit-review-btn').click(function (e) {
			e.preventDefault();

			if(name.val() == '' || email.val() == '' || !email.val().match(/^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/) 
					|| phone.val() == '' || phone.val().length < 10 || comment.val() == '')
				 return;

			const data = {
				doctor_id: $(this).data('id'),
				name: name.val(),
				email: email.val(),
				phone_number: phone.val(),
				comment: comment.val(),
			}

			$.ajax({
				method: 'POST',
				url: '/doctor_profile/<%= doctor.id %>/reviews',
				data: JSON.stringify(data),
				contentType: 'application/json',
				success: function (response) {
					toastr['success'](
						'Gửi đánh giá thành công',
						'Thành công'
					);
					const review = response.data;
					var newReviewHtml = '<div class="review col-xl-8 col-sm-12">' +
						'<strong>' + review.name + '</strong>&nbsp' +
						'<span style="color:#45c3d2; float:right;">' +
						'<i class="fas fa-check-circle"></i>&nbsp' +
						'Vừa đăng lên' +
						'</span>' +
						'<div><span style="font-style: italic;">Đánh giá:</span> ' + review.comment + '</div>' +
					'</div>';

					if ($('.no-review').length > 0) {
						$('.no-review').hide();
					}
					$('.review-form').after(newReviewHtml);
				},
				error: function (xhr, status, error) {
					toastr['error'](
						'Gửi đánh giá thất bại, thông tin bệnh nhân chưa có đơn khám nào',
						'Thất bại'
					);
				},
			});
		});
	});

</script>
