<div class="doctor-list-specialty">
	<div
		style="
			background-image: url('/client/assets/images/120331-co-xuong-khop.jpg');
		"
		class="specialty-img"
	>
		<div class="specialty-heading">
			<div class="wrapper">
				<div class="specialty-title">
					<h1 style="margin-bottom: 0">
						<% if (typeof speciality_id != 'undefined') { %> <%=
						selectedSpeciality %> <% } else { %> Các bác sĩ của
						phòng khám <% } %>
					</h1>
				</div>

				<!-- <div class="specialty-expand expand-hide">
          <div class="speacialty-des expand-content">
            <h2 style="text-align: justify; line-height: 1; font-size: 14px">
              <b style="color: inherit; font-family: inherit; font-size: 14px"
                >Bác sĩ Cơ Xương Khớp giỏi</b
              ><br />
            </h2>
            <p
              style="text-align: justify; line-height: 1.2; margin: 5px 0 5px 0"
            >
              <span style="font-size: 14px"
                >Danh sách các bác sĩ uy tín đầu ngành Cơ Xương Khớp tại Việt
                Nam:</span
              >
            </p>
            <ul>
              <li style="text-align: justify; line-height: 1.2">
                <span style="font-size: 14px"
                  >Các chuyên gia có quá trình đào tạo bài bản, nhiều kinh
                  nghiệm</span
                >
              </li>
              <li style="text-align: justify; line-height: 1.2">
                <span style="font-size: 14px"
                  >Các giáo sư, phó giáo sư đang trực tiếp nghiên cứu và giảng
                  dạy tại Đại học Y khoa Hà Nội</span
                >
              </li>
              <li style="text-align: justify">
                <span style="font-size: 14px"
                  >Các bác sĩ đã, đang công tác tại các bệnh viện hàng đầu Khoa
                  Cơ Xương Khớp - Bệnh viện Bạch Mai, Bệnh viện Hữu nghị Việt
                  Đức,Bệnh Viện E.</span
                >
              </li>
              <li style="text-align: justify">
                <span style="font-size: 14px"
                  >Là thành viên hoặc lãnh đạo các tổ chức chuyên môn như: Hiệp
                  hội Cơ Xương Khớp, Hội Thấp khớp học,...</span
                >
              </li>
              <li style="text-align: justify">
                <span style="font-size: 14px"
                  >Được nhà nước công nhận các danh hiệu Thầy thuốc Nhân dân,
                  Thầy thuốc Ưu tú, Bác sĩ Cao cấp,...</span
                >
              </li>
            </ul>
            <h2 style="text-align: justify">
              <span style="font-size: 14px"><b>Bệnh Cơ Xương Khớp</b></span>
            </h2>
            <ul>
              <li style="text-align: justify">Gout</li>
              <li style="text-align: justify">
                Thoái hóa khớp: khớp gối, cột sống thắt lưng, cột sống cổ
              </li>
              <li style="text-align: justify">
                Viêm khớp dạng thấp, Viêm đa khớp, Viêm gân
              </li>
              <li style="text-align: justify">
                Tràn dịch khớp gối, Tràn dịch khớp háng, Tràn dịch khớp khủy,
                Tràn dịch khớp vai
              </li>
              <li style="text-align: justify">Loãng xương, đau nhức xương</li>
              <li style="text-align: justify">Viêm xương, gai xương</li>
              <li style="text-align: justify">
                Viêm cơ, Teo cơ, chứng đau mỏi cơ
              </li>
              <li style="text-align: justify">Yếu cơ, Loạn dưỡng cơ</li>
              <li style="text-align: justify">
                Các chấn thương về cơ, xương, khớp<br />
              </li>
              <li style="text-align: justify">...</li>
            </ul>
          </div>
          <a href="" class="expand-btn-hide" onclick="handleExpandHide(Event)"
            >Ẩn bớt</a
          >
          <a href="" class="expand-btn-expand" onclick="handleExpand(Event)"
            >Đọc thêm</a
          >
        </div> -->
			</div>
		</div>
	</div>

	<div class="wrapper">
		<div class="row">
			<div class="list-doctor">
				<% if (users.length != 0) { %> <% users.forEach(function(user) {
				%>
				<div
					class="a-doctor"
					data-name="Bác sĩ Chuyên khoa II Nguyễn Thị Kim Loan"
					data-d`ichvu="Khám"
				>
					<div class="a-doctor-infor">
						<div class="a-doctor-img">
							<a
								href="/doctor_profile?doctor_id=<%= user.doctor.id %>&date=<%= user.doctor.schedules[0].date %>"
							>
								<% if (user.avatar) { %>
								<img
									data-src=""
									src="<%= user.avatar %>"
									class="luoi"
									width="80"
									height="80"
									alt="Ảnh của bác sĩ"
								/>
								<% } else { %>
								<img
									data-src=""
									src="https://api.dicebear.com/6.x/initials/svg?seed=<%= user.name %>"
									class="luoi"
									width="80"
									height="80"
									alt="Ảnh của bác sĩ"
								/>
								<% } %>
								<div>Chi tiết</div>
							</a>
						</div>

						<div class="a-doctor-describe">
							<h2 class="a-doctor-name">
								<a
									href="/doctor_profile?doctor_id=<%=user.doctor.id %>&date=<%= user.doctor.schedules[0].date %>"
								>
									<%= user.doctor.getRankName() %> <%=
									user.name %>
								</a>
							</h2>

							<strong>
								Chuyên khoa: <%= user.doctor.speciality.name %>
							</strong>

							<p class="a-doctor-summari">
								<%= user.doctor.description %>
							</p>

							<div class="a-doctor-location">
								<!-- <span class="bt-g bt-g-diadiem glyphicon glyphicon-map-marker"></span>  -->
								<img
									src="/client/assets/images/location.png"
									alt=""
								/>
								Đà Nẵng
							</div>
						</div>
					</div>

					<div class="a-doctor-shedule">
						<p class="a-doctor-select-time"></p>

						<div
							data-thu=""
							data-chonngay=".lich-c217-d9"
							class="a-doctor-day display-block mot-bs-thu3 lich-c217-d9 lich-c217-d9-p44 hien"
						>
							<h3 class="a-doctor-shedule-title">
								<img
									src="/client/assets/images/svg/schedule-icon.svg"
									alt=""
								/>
								Lịch Khám
							</h3>

							<div class="today-shedule">
								<div class="a-doctor-avaiable-shedule">
									<% if (user.doctor.schedules.length > 0) {
									%> <%
									user.doctor.schedules.forEach(function(schedule)
									{ %>
									<a
										href="/doctor_profile?doctor_id=<%= user.doctor.id %>&date=<%= schedule.date %>"
										class="available-clinic-hour"
									>
										<%= new
										Date(schedule.date).toLocaleDateString('en-GB')
										%>
									</a>
									<% }) %> <% } else { %>
									<i>Không có lịch khám</i>
									<% } %>

									<!-- <a
										href="/booking"
										class="disabled-clinic-hour"
										>08:00 - 08:30
									</a>

									<a
										href="/booking"
										class="available-clinic-hour"
										>08:30 - 09:00
									</a> -->
								</div>

								<div
									class="a-doctor-shedule-guide"
									data-name=""
								>
									Chọn
									<img
										src="/client/assets/images/svg/choose-icon.svg"
										alt=""
									/>
									khung giờ để đặt lịch (Phí đặt lịch
									0<sup>đ</sup>)
								</div>
							</div>

							<div class="schedule-infor">
								<div
									class="schedule-price"
									data-bs="217"
									data-nk="44"
								>
									<h3>Giá Khám:</h3>
									<span class="schedule-price-inshort">
										<%= new Intl.NumberFormat('vi-VN', {
										style: 'currency', currency: 'VND'
										}).format(user.doctor.price); %>
									</span>
								</div>
							</div>
						</div>
					</div>

					<div class="xeplai clearfix"></div>
				</div>
				<% }) %> <% } else { %>
				<div class="alert alert-warning" role="alert">
					Không tìm thấy bác sĩ nào
				</div>
				<% } %>
			</div>
		</div>
		<!-- pagination -->
		<div class="row pt-2">
			<div class="col-12">
				<nav aria-label="...">
					<% if (pages > 0) { %>
					<ul class="pagination text-center">
						<% if (current == 1) { %>
						<li class="page-item disabled">
							<a class="page-link" href="#" tabindex="-1">Đầu</a>
						</li>
						<% } else { %>
						<li class="page-item">
							<a
								class="page-link"
								href="/doctors?page=1&speciality_id=<%=selectedSpeciality%>&q=<%=search%>"
								tabindex="-1"
							>
								Đầu
							</a>
						</li>
						<% } %> <% let i = (Number(current) > 5 ?
						Number(current) - 4 : 1) %> <% if (i != 1) { %>
						<li class="page-item disabled">
							<a class="page-link">...</a>
						</li>
						<% } %> <% for (; i <= pages && i <= Number(current) +
						4; i++) { %> <% if (i == current) { %>
						<li class="page-item active">
							<a class="page-link"><%=i%></a>
						</li>
						<% } else { %>
						<li class="page-item">
							<a
								class="page-link"
								href="/doctors?page=<%=i%>&speciality_id=<%=selectedSpeciality%>&q=<%=search%>"
								><%=i%>
							</a>
						</li>
						<% } %> <% if (i == Number(current) + 4 && i < pages ) {
						%>
						<li class="page-item disabled">
							<a class="page-link">...</a>
						</li>
						<% } %> <% } %> <% if (current == pages) { %>
						<li class="page-item disabled">
							<a class="page-link">Cuối</a>
						</li>
						<% } else { %>
						<li class="page-item">
							<a
								class="page-link"
								href="/doctors?page=<%= pages %>&speciality_id=<%=selectedSpeciality%>&q=<%=search%>"
							>
								Cuối
							</a>
						</li>
						<% } %>
					</ul>
					<% } %>
				</nav>
			</div>
		</div>
	</div>
</div>

<%- contentFor('css') %> <%- include('style') %> <%- contentFor('js') %> <%-
include('script') %>
