<div class="doctor-profile">
	<div class="wrapper">
		<div class="a-doctor-infor">
			<div class="a-doctor-img">
				<% if (doctor.user.avatar) { %>
				<img
					data-src=""
					src="<%= doctor.user.avatar %>"
					class="luoi"
					width="80"
					height="80"
				/>
				<% } else { %>
				<img
					data-src=""
					src="https://api.dicebear.com/6.x/initials/svg?seed=<%= doctor.user.name %>"
					class="luoi"
					width="80"
					height="80"
				/>
				<% } %>
			</div>

			<div class="a-doctor-describe">
				<h2 class="a-doctor-name">
					<%= doctor.getRankName() %> <%= doctor.user.name %>
				</h2>
				<b> Chuyên khoa: </b> <%= doctor.speciality.name %>
			</div>
		</div>

		<div class="a-doctor-shedule">
			<form id="doctor-schedule-form" method="GET" class="form-inline">
				<input
					type="hidden"
					name="doctor_id"
					value="<%= doctor.id %>"
				/>
				<% if (selectedDate) { %>
				<p class="a-doctor-select-time">
					<select class="date-select" name="date">
						<% if (doctor.schedules.length != 0) { %> <%
						doctor.schedules.forEach(function (schedule) { %> <% if
						(selectedDate == schedule.date) { %>
						<option value="<%= schedule.date %>" selected>
							<%= new
							Date(schedule.date).toLocaleDateString('en-GB') %>
						</option>
						<% } else { %>
						<option value="<%= schedule.date %>">
							<%= new
							Date(schedule.date).toLocaleDateString('en-GB') %>
						</option>
						<% } %> <% }) %> <% } %>
					</select>
				</p>
				<% } %>
			</form>

			<div
				data-thu=""
				data-chonngay=".lich-c217-d9"
				class="a-doctor-day display-block mot-bs-thu3 lich-c217-d9 lich-c217-d9-p44 hien"
			>
				<h3 class="a-doctor-shedule-title">
					<img
						src="/client/assets/images/svg/schedule-icon.svg"
						alt=""
					/>
					Lịch Khám
				</h3>

				<div class="display_flex">
					<div class="today-shedule">
						<div class="a-doctor-avaiable-shedule">
							<% if (shifts.length > 0) { %> <%
							shifts.forEach(function (each) { %>
							<a
								href="#"
								rel="nofollow"
								class="shift-hour available-clinic-hour"
								data-id="<%= each.id %>"
								data-start-time="<%= each.shift.start_time %>"
							>
								<%= each.shift.start_time.slice(0, -3) %> - <%=
								each.shift.end_time.slice(0, -3) %>
							</a>
							<% }) %> <% } else { %>
							<div class="no-schedule">Không có lịch khám</div>
							<% } %>
						</div>
						<div class="a-doctor-shedule-guide">
							Chọn
							<img
								src="/client/assets/images/svg/choose-icon.svg"
								alt=""
							/>
							và đặt (Phí đặt lịch 0<sup>đ</sup>)
						</div>
						<div>
							(<span style="color: red"> Lưu ý: </span>
							<i
								>Lịch khám chỉ có thể đặt trước tối thiểu 1
								giờ</i
							>
							)
						</div>
					</div>

					<div class="schedule-infor">
						<div class="schedule-location">
							<h3>Địa chỉ Khám</h3>
							<div class="schedule-clinic-name">
								Phòng khám y tế QTN
							</div>
							<div class="schedule-clinic-address">
								123 Nguyễn Lương Bằng, Hòa Khánh, Đà Nẵng
							</div>
						</div>
						<div class="schedule-price" data-bs="217" data-nk="44">
							<h3>Giá Khám:</h3>
							<span class="schedule-price-inshort">
								<%= new Intl.NumberFormat('vi-VN', { style:
								'currency', currency: 'VND'
								}).format(doctor.price); %>
							</span>
						</div>
					</div>
				</div>

				<div class="xeplai"></div>
			</div>
		</div>
	</div>

	<div class="doctor-detailed-profile">
		<div class="wrapper">
			<div class="doctor-content" id=""><%= doctor.description %></div>
		</div>
	</div>

	<div class="review-from-client">
		<div class="wrapper">
			<div class="review-title">
				Phản hồi của bệnh nhân sau khi đi khám
			</div>

			<div class="feedback-list">
				<div class="feedback-item">
					<div class="feedback-name">
						<strong>Nguyễn Kim Sơn</strong>&nbsp;
						<a class="feedback-info"
							><i class="bt-g bt-g-dongy-tron"></i> Đã khám ngày
							16/07/2020
						</a>
					</div>

					<div class="feedback-content">Tốt</div>
				</div>

				<div class="feedback-item">
					<div class="feedback-name">
						<strong>Một bệnh nhân</strong>&nbsp;
						<a class="feedback-info"
							><i class="bt-g bt-g-dongy-tron"></i> Đã khám ngày
							30/08/2018
						</a>
					</div>
					<div class="feedback-content">
						Bác sĩ đã xem kỹ và sử dụng một phần kết quả xét nghiệm
						trước đây tôi đã làm (dù làm ở bệnh viện khác),chỉ yêu
						cầu tôi làm xét nghiệm cần thiết, giúp giảm chi phí khám
						bệnh. Bác sĩ có giải thích về bệnh đủ để tôi hiểu và cảm
						thấy yên tâm. Bây giờ tôi sẽ uống thuốc theo phác đồ để
						xem kết quả như nào.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%- contentFor('css') %> <%- include('style') %> <%- contentFor('js') %>
<!-- momentjs -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"
	crossorigin="anonymous"
	referrerpolicy="no-referrer"
></script>
<script>
	function disableShifts(date) {
		$('.shift-hour').each(function () {
			let start_time = $(this).data('start-time');
			start_time = date + ' ' + start_time;
			// convert start time to date
			start_time = moment(start_time).toDate();
			let current_time = moment().toDate();
			// add 1 hour to current_time
			current_time.setHours(current_time.getHours() + 1);

			if (current_time >= start_time) {
				$(this).attr('href', '#');
				$(this).removeClass('available-clinic-hour');
				$(this).removeAttr('data-id');
				$(this).addClass('disabled-clinic-hour');
			}
		});
	}

	$(document).ready(function () {
		let date = $('.date-select').val();
		// disable shifts that have passed
		disableShifts(date);

		$('.date-select').change(function () {
			$('#doctor-schedule-form').submit();
		});

		$('.available-clinic-hour').click(function () {
			let schedule_id = $(this).data('id');
			// assign schedule_id to href in <a>
			$(this).attr('href', '/booking/' + schedule_id);
		});
	});
</script>
