<div class="row">
  <div class="col-12">
	<div class="card-box">
	  	<h4 class="mt-0 mb-2 header-title">Duyệt đơn đặt khám</h4>
		<div class="row">
			<div class="col-md-2 mb-1">
				<a href="/nurse/appointments?page=1">	
					<i class="dripicons-clockwise"> Tải lại </i>
				</a>
			</div>
		</div>

		<form id="form-filter" method="GET" class="form-inline">
			<div class="row" id="appointment-management" data-id="<%= user.name %>">
				<div class="form-group">	
					<div class="col-md-6">
					  <label class="d-block" for="status-filter">Trạng thái</label>
					</div>
					<div class="col-md-3 mb-1 ml-0 pl-0 mt-1 form-group">
					  <select
						id="status-filter"
						name="status"
						class="custom-select select-filter mb-1"
					  >
						<option value="" selected>Tất cả</option>
						<option value="1" <% if (selectedStatus == 1) { %> selected <% } %>>Chưa xác nhận</option>
						<option value="2" <% if (selectedStatus == 2) { %> selected <% } %>>Chờ xử lý</option>
						<option value="3" <% if (selectedStatus == 3) { %> selected <% } %>>Xác nhận</option>
						<option value="4" <% if (selectedStatus == 4) { %> selected <% } %>>Từ chối</option>
						<option value="5" <% if (selectedStatus == 5) { %> selected <% } %>>Khám xong</option>
					  </select>
					</div>
				</div>
		
				<div class="form-group">
					<div class="col-md-1 mb-1 ml-0 pl-0 mb-1 ml-auto form-group">
						<div class="form-group app-search-box">
							<div class="input-group">
								<% if (typeof search == "undefined") { %>
								<input
									type="text"
									class="form-control"
									name="q"
									placeholder="Nhập tên để tìm kiếm..."
								/>
								<% } else { %>
								<input
									type="text"
									class="form-control"
									name="q"
									value="<%= search %>"
									placeholder="Nhập tên để tìm kiếm..."
								/>
								<% } %>
								<div class="input-group-append bg-primary">
									<button class="btn" type="submit">
									<i class="fe-search"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>

		<div class="table-responsive">
			<table id="appointment-table" class="table table-bordered table-hover mb-0 text-center">
				<thead class="thead-dark">
					<tr>
					<th>ID</th>
					<th>Tên bệnh nhân</th>
					<th>Số điện thoại</th>
					<th>Email</th>
					<th>Lí do khám</th>
					<th>Bác sĩ</th>
					<th>Chi phí</th>
					<th>Người thao tác</th>
					<th>Trạng thái</th>
					<th>Tùy chỉnh</th>
					</tr>
				</thead>
				<tbody>
					<% if (appointments.length != 0) { %> 
						<% appointments.forEach(function(appointment) { %>
					<tr >
						<th scope="row"><%= appointment.id %></th>
						<td><%= appointment.customer.name %></td>
						<td><%= appointment.customer.phone_number %></td>
						<td><%= appointment.customer.email %></td>
						<td><%= appointment.description %></td>
						<td><%= appointment.schedule.doctor.user.name %></td>
						<td><%= appointment.price %></td>
						<td><%= appointment.user.name %></td>
						<% if (appointment.status == 1 ) { %>
						<td class="text-secondary">Chưa xác nhận</td>
						<% } else if (appointment.status == 2 ) { %>
						<td class="text-warning">Chờ xử lý</td>
						<% } else if (appointment.status == 3 ) { %>
						<td class="text-primary">Xác nhận</td>
						<% } else if (appointment.status == 4 ) { %>
						<td class="text-danger">Từ chối</td>
						<% } else { %>
						<td class="text-success">Khám xong</td>
						<% } %>
						<td>
							<div 
								class="action action-1"
								<% if (appointment.status == 2 ) { %>
									style="display: block;"
								<% } else { %>
									style="display: none;"
								<% } %>
							> 
								<button
									class="btn btn-sm btn-success approve-appointment-btn"
									data-toggle="modal"
									data-target="#ModalApprove"
									data-id="<%= appointment.id %>"
								>
									<i class="mdi mdi-checkbox-marked-circle-outline"></i>
								</button>
								<button
									class="btn btn-sm btn-danger decline-appointment-btn"
									data-toggle="modal"
									data-target="#ModalDecline"
									data-id="<%= appointment.id %>"
								>
									<i class="mdi mdi-comment-remove-outline"></i>
								</button>
							</div>

							<div 
								class="action action-2"
								<% if (appointment.status > 2 ) { %>
									style="display: block;"
								<% } else { %>
									style="display: none;"
								<% } %>
								>
								<button
									class="btn btn-sm btn-primary update-appointment-btn"
									data-toggle="modal"
									data-target="#ModalAppointment"
									data-id="<%= appointment.id %>"
								>
									<i class="fas fa-edit"></i>
								</button>
							</div>

						</td>
					</tr>
					<% }); %> <% } else { %>
					<tr>
						<td colspan="7" class="text-center">
							<h4>Không có dữ liệu</h4>
						</td>
					</tr>
					<% } %>
				</tbody>
			</table>
			<!-- pagination -->
			<div class="row pt-2">
			  <div class="col-12">
				<nav aria-label="...">
				  <% if (pages > 0) { %>
				  <ul class="pagination text-center">
					<% if (current == 1) { %>
					<li class="page-item disabled">
					  <a class="page-link" href="#" tabindex="-1">Đầu</a>
					</li>
					<% } else { %>
					<li class="page-item">
					  <a
						class="page-link"
						href="/nurse/appointments?page=1&status=<%=selectedStatus%>&q=<%=search%>"
						tabindex="-1"
					  >
						Đầu
					  </a>
					</li>
					<% } %> <% let i = (Number(current) > 5 ? Number(current) - 4 :
					1) %> <% if (i != 1) { %>
					<li class="page-item disabled">
					  <a class="page-link">...</a>
					</li>
					<% } %> <% for (; i <= pages && i <= Number(current) + 4; i++) {
					%> <% if (i == current) { %>
					<li class="page-item active">
					  <a class="page-link"><%=i%></a>
					</li>
					<% } else { %>
					<li class="page-item">
					  <a
						class="page-link"
						href="/nurse/appointments?page=<%= i %>&status=<%=selectedStatus%>&q=<%=search%>"
						><%=i%>
					  </a>
					</li>
					<% } %> <% if (i == Number(current) + 4 && i < pages ) { %>
					<li class="page-item disabled">
					  <a class="page-link">...</a>
					</li>
					<% } %> <% } %> <% if (current == pages) { %>
					<li class="page-item disabled">
					  <a class="page-link">Cuối</a>
					</li>
					<% } else { %>
					<li class="page-item">
					  <a
						class="page-link"
						href="/nurse/appointments?page=<%= pages %>&status=<%=selectedStatus%>&q=<%=search%>"
					  >
						Cuối
					  </a>
					</li>
					<% } %>
				  </ul>
				  <% } %>
				</nav>
			  </div>
			</div>
		</div>
	</div>
  </div>
</div>

<div
	class="modal fade"
	id="ModalAppointment"
	tabindex="-1"
	role="dialog"
	aria-labelledby="myModalLabel"
>
	<div class="modal-dialog" role="document" >
		<div class="modal-content"  style="width: 50vw; position: absolute; left: 50%; transform: translate(-50%);">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Đơn đặt khám</h4>
				<button
					type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
                <div class="row">
                    <div class="col-12">
						<div class="col-12">
							<form
								class="form-horizontal"
							>
								
								<div class="form-group">
									<div class="form-group row schedule-form">
										<div class="col-sm-4">
											<img src="/admin/assets/images/users/user-1.jpg" 
											alt="user-img" 
											title="Mat Helme" 
											class="rounded-circle img-thumbnail picture-form"
											>
											<div class="dropdown">
												<a 
												href="#" 
												class="text-dark dropdown-toggle h5 mt-2 mb-1 d-block" 
												data-toggle="dropdown">	
												</a>
											</div>
										</div>
										<div class="form-group col-sm-8">
											<div class="row">
												<label>Bác sĩ: </label>
												<p id="doctor"></p>
											</div>
											<div class="row">
												<label>Xuất khám: </label>
												<p id="shift"></p>
											</div>
											<div class="row">
												<label>Ngày khám: </label>
												<p id="day"></p>
											</div>
										</div>
									</div>
									<div class="form-group row col-sm-12">
										<div class="col-sm-12">
											<label>Họ tên:</label>
											<span class="error" id="name-error"></span>
											<input
												type="text"
												class="col-sm-12"
												id="nameCustomer"
												name="name"
												placeholder="Họ và tên"
												style="border: 0; border-bottom:1px solid #ccc;"
											/>
										</div>
										<div class="col-6">
											<label>Ngày sinh:</label>
											<span class="error" id="birthday-error"></span>
											<input type="date" class="col-sm-12" id="birthdayCustomer" name="birthday" />
										</div>
										<div class="col-6">
											<label for="gender">
												Giới tính:
											</label>
											<span
												class="error"
												id="gender-error"
											></span>
											<br />
											<div class="radioBox">
												<input
													type="radio"
													class="col-sm-12"
													id="male"
													name="genderCustomer"
													value="1"
													/>
												<label
													class="radioText"
													for="male"
													>Nam</label
												>
											</div>
											<div class="radioBox">
												<input
													type="radio"
													class="col-sm-12"
													id="female"
													name="genderCustomer"
													value="0"
													
												/>
												<label
													class="radioText"
													for="female"
													>Nữ</label
												>
											</div>
										</div>
									</div>
									<div class="form-group row col-12">
										<div class="col-sm-6">
											<label>Số điện thoại:</label>
											<span class="error" id="phone-error"></span>
											<input
												type="number"
												class="col-sm-12"
												id="phone_numberCustomer"
												name="phone_number"
												placeholder="Số điện thoại"
											/>
										</div>
										<div class="col-sm-6">
											<label>Email:</label>
											<span class="error" id="email-error"></span>
											<input
												type="text"
												class="col-sm-12"
												id="emailCustomer"
												name="email"
												placeholder="email@gmail.com"
											/>
										</div>
										
									</div>
			
									<div class="form-group row col-12">
										
										<div class="col-sm-12">
											<label>Lí do khám:</label>
											<span class="error" id="description-error"></span>
											<textarea
												class="col-sm-12"
												id="descriptionAppointment"
												name="description"
												rows="4"
												placeholder="Lí do khám"
											></textarea>
										</div>
										<div class="col-sm-12">
											<label>Chẩn đoán:</label>
											<span class="error" id="diagnosis-error"></span>
											<textarea
												class="col-sm-12"
												id="diagnosisAppointment"
												name="diagnosis"
												rows="2"
												placeholder="Chẩn đoán"
											></textarea>
										</div>
									</div>

									<div class="form-group row col-12">
										<div class="col-7">
											<label>Giá khám:</label>
											<span class="error" id="price-error"></span>
											<div class="form-group row col-12">
												<input
												type="number"
												class="col-sm-10"
												id="priceAppointment"
												placeholder="Giá khám"
												style="padding-right: 50px;"
												/>
												<h6 style="position:absolute; right: 25%;">VNĐ</h6>
											</div>
											
										</div>
										<div class="col-sm-5">
											<label>Trạng thái:</label>
											<br/>
											<select name="status" id="statusAppointment" class="col-sm-10" placeholder="Trạng thái">
												<option value="3">
													<!-- <span>
														<i class="mdi mdi-checkbox-marked-circle-outline"></i>
													</span> -->
													Xác nhận
												</option>
												<option value="4">
													<!-- <i class="mdi mdi-comment-remove-outline"></i> -->
													Từ chối
												</option>
												<option value="5">
													<!-- <i class="fas fa-check-double"></i> -->
													Khám xong
												</option>
											</select>
										</div>
									</div>

								</div>
							</form>
						</div>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
				<button
					type="button"
					class="btn btn-secondary"
					data-dismiss="modal"
				>
					Đóng
				</button>
				<button
					type="button"
					id="confirm-update-appointment-btn"
					class="btn btn-primary "
				>
					Xác nhận
				</button>
				
			</div>
		</div>
	</div>
</div>


<div
	class="modal fade"
	id="ModalApprove"
	class="ModalStatus"
	tabindex="-1"
	role="dialog"
	aria-labelledby="myModalLabel"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Thông báo</h4>
				<button
					type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body text-center">
				<p>Xác nhận duyệt đơn khám của khách hàng này ?</p>
			</div>
			<div class="modal-footer">
				<button
					type="button"
					class="btn btn-secondary"
					data-dismiss="modal"
				>
					Đóng
				</button>
				<button
					type="button"
					class="btn btn-primary confirm-approve-appointment-btn"
				>
					Xác nhận
				</button>
			</div>
		</div>
	</div>
</div>

<div
	class="modal fade"
	id="ModalDecline"
	class="ModalStatus"
	tabindex="-1"
	role="dialog"
	aria-labelledby="myModalLabel"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Thông báo</h4>
				<button
					type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body text-center">
				<p>Xác nhận từ chối đơn khám của khách hàng này ?</p>
			</div>
			<div class="modal-footer">
				<button
					type="button"
					class="btn btn-secondary"
					data-dismiss="modal"
				>
					Đóng
				</button>
				<button
					type="button"
					class="btn btn-primary confirm-decline-appointment-btn"
				>
					Xác nhận
				</button>
			</div>
		</div>
	</div>
</div>

<%- contentFor('css') %>
<link
	href="../admin/assets/libs/toastr/toastr.min.css"
	rel="stylesheet"
	type="text/css"
/>

<style>
	.form-group {
		display: inline-block;
	}


	p {
		font-family: 'Roboto', sans-serif;
		color: #323a46;
		font-size: 16px;
		font-weight: normal;
	}

	label {
		display: inline-block;
		font-family: 'Roboto', sans-serif;
		text-transform: uppercase;
		margin-bottom: 10px;
		font-weight: bold;
		font-size: 16px;
		margin-left: 2px;
	}

	.rounded-circle.img-thumbnail.picture-form {
		display: flex;
		position: absolute; 
		left: 50%; 
		transform: translate(-50%);
		width: 100px;
		height: 100px;
	}

	input[type='text'],
	input[type='email'],
	input[type='number'],
	input[type='date'],
	select{
		padding: 7px 5px;
		border: 1px solid #ccc;
		border-radius: 5px;
		margin-bottom: 10px;
		background-color: #eee;
	}

	select {
		padding: 9px 0;
	}

	input[type='radio'] {
		width: 20px;
		height: 20px;
		margin-right: 5px;
		position: relative;
		left: 1em;
		bottom: -5px;
	}

	.radioText {
		margin-left: 24px;
		font-weight: normal;
		font-size: 16px;
	}

	.radioBox {
		width: 110px;
		display: inline-block;
		margin-right: 10px;
		border: 1px solid #ccc;
		border-radius: 5px;
		box-sizing: border-box;
		background-color: #eee;
	}

	span.error {
		color: red;
		display: inline-block;
		font-size: 12px;
	}

	.btn.btn-sm.update-info-btn {
		text-transform: uppercase;
		padding: 7px 15px;
		margin-left: 25px;
		border-radius: 5px;
		cursor: pointer;
		box-shadow: 0px 2px 4px 0px rgb(0, 0, 0, 0.2);
		margin-top: 15px;
	}

	.btn.btn-sm.edit-btn {
		background-color: #ccc;
		color: #000000;
		padding: 7px 15px;
		margin-left: 10px;
		border-radius: 50px;
		border: 0;
		cursor: pointer;
		box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
		margin-top: 27px;
	}
</style>

<%- contentFor('js') %>
<script src="../admin/assets/libs/toastr/toastr.min.js"></script>
<script src="../admin/assets/js/pages/toastr.init.js"></script>

<script>
	$(document).ready(function () {
		toastr.options = {
			closeButton: true,
			debug: false,
			newestOnTop: false,
			progressBar: false,
			positionClass: 'toast-bottom-left',
			preventDuplicates: true,
			onclick: null,
			showDuration: '300',
			hideDuration: '1000',
			timeOut: '5000',
			extendedTimeOut: '1000',
			showEasing: 'swing',
			hideEasing: 'linear',
			showMethod: 'fadeIn',
			hideMethod: 'fadeOut',
		};

		function updateStatusAppointment(appointmentId, currentBtn, status) {
			let statusString = '';
			if(status == 3){
				statusString = 'Xác nhận'; 
			} else if(status == 4){
				statusString = 'Từ chối';
			}
			
			$.ajax({
				method: 'POST',
				url: '/nurse/appointments/' + appointmentId + '/update-status-appointment',
				data: { status: status },
				success: function (response) {
					$('#ModalApprove').hide();
					$('#ModalDecline').hide();
					$('body').removeClass('modal-open');
					$('.modal-backdrop').remove();
					
					let currentRow = currentBtn.closest('tr');
					currentRow.find('td:eq(-2)').text(statusString);
					currentRow.find('td:eq(-2)').removeClass('text-warning');
					if(status == 3){
						currentRow.find('td:eq(-2)').addClass('text-primary');
					} else if(status == 4){
						currentRow.find('td:eq(-2)').addClass('text-danger');
					}
					
					currentRow.find('td:eq(-1)').find('.action-1').css('display', 'none');
					currentRow.find('td:eq(-1)').find('.action-2').css('display', 'block');

					toastr['success'](
						statusString + ' đơn đặt khám thành công',
						'Thành công'
					);
				},
				error: function (xhr, status, error) {
					toastr['error'](
						'Không thể ' + statusString + ' đơn đặt khám này',
						'Thất bại'
					);
				},
			});
		}

        

        
		function updateAppointment(appointmentId, currentBtn) {
			const name = $('#nameCustomer').val();
			const birthday = $('#birthdayCustomer').val();
			const gender = $('#male').is(':checked') ? true : false;
			const phone_number = $('#phone_numberCustomer').val();
			const email = $('#emailCustomer').val();
			const diagnosis = $('#diagnosisAppointment').val();
			const description = $('#descriptionAppointment').val();
			const price = $('#priceAppointment').val();
			const status = $('#statusAppointment').val();

			let statusString = '';
			if(status == 3){
				statusString = 'Xác nhận'; 
			} else if(status == 4){
				statusString = 'Từ chối';
			} else if(status == 5){
				statusString = 'Khám xong';
			}
			
			const user_name = $('#appointment-management').data('id');
			
			const data = {
				appointment: {
					diagnosis: diagnosis,
					description: description,
					price: price,
					status: status,
					customer: {
						name: name,
						birthday: birthday,
						gender: gender,
						phone_number: phone_number,
						email: email
					}
				}
			};
			console.log(data);
			$.ajax({
				method: 'POST',
				url: '/nurse/appointments/' + appointmentId + '/update-appointment',
				data: JSON.stringify(data),
        		contentType: 'application/json',
				success: function (response) {
					$('#ModalAppointment').hide();
					$('body').removeClass('modal-open');
					$('.modal-backdrop').remove();

					
					
					let currentRow = currentBtn.closest('tr');
					currentRow.find('td:eq(0)').text(name);
					currentRow.find('td:eq(1)').text(phone_number);
					currentRow.find('td:eq(2)').text(email);
					currentRow.find('td:eq(3)').text(description);
					currentRow.find('td:eq(5)').text(price);
					currentRow.find('td:eq(6)').text(user_name);
					
					currentRow.find('td:eq(-2)').text(statusString);
					currentRow.find('td:eq(-2)').removeClass('text-primary');
					currentRow.find('td:eq(-2)').removeClass('text-danger');
					currentRow.find('td:eq(-2)').removeClass('text-success');
					if(status == 3){
						currentRow.find('td:eq(-2)').addClass('text-primary');
					} else if(status == 4){
						currentRow.find('td:eq(-2)').addClass('text-danger');
					} else if(status == 5){
						currentRow.find('td:eq(-2)').addClass('text-success');
					}

					toastr['success'](
						'Cập nhật đơn khám thành công',
						'Thành công'
					);
				},
				error: function (xhr, status, error) {
					toastr['error'](
						'Không thể cập nhật đơn khám này',
						'Thất bại'
					);
				},
			});
		}

		$('.select-filter').change(function () {
			$('#form-filter').submit();
		});

        $('.approve-appointment-btn').click(function () {
			let appointmentId = $(this).data('id');
			let currentBtn = $(this);

			$('.confirm-approve-appointment-btn').click(function () {
				updateStatusAppointment(appointmentId, currentBtn, 3);
			});
		});

        $('.decline-appointment-btn').click(function () {
			let appointmentId = $(this).data('id');
			let currentBtn = $(this);

			$('.confirm-decline-appointment-btn').click(function () {
				updateStatusAppointment(appointmentId, currentBtn, 4);
			});
		});

		$('.update-appointment-btn').click(function (e)  {
			e.preventDefault();
			
			let appointmentId = $(this).data('id');
			let currentBtn = $(this);
			$.ajax({
				method: 'GET',
				url: '/nurse/appointments/' + appointmentId,
				dataType: 'json',
				success: function (response) {
					const appointment = response.data.appointment;
					
					let phone = appointment.customer.phone_number;
					$('#doctor').text(response.data.doctor_rank + ' ' + appointment.schedule.doctor.user.name);
					$('#shift').text(appointment.schedule.shift.start_time + ' - ' + appointment.schedule.shift.end_time);
					$('#day').text(response.data.appointment_day + ', ' + appointment.schedule.date);
					$('#nameCustomer').val(appointment.customer.name);
					$('#birthdayCustomer').val(appointment.customer.birthday);
					if (appointment.customer.gender) {
						$('#male').prop('checked', true); 
					} else {
						$('#female').prop('checked', true); 
					}
					$('#phone_numberCustomer').val(phone);
					$('#emailCustomer').val(appointment.customer.email);
					$('#diagnosisAppointment').val(appointment.diagnosis);
					$('#descriptionAppointment').val(appointment.description);
					$('#priceAppointment').val(appointment.price);
					$('#statusAppointment').val(appointment.status);
				},
				error: function (xhr, status, error) {
					toastr['error'](
						'Không thể xem thông tin đơn khám này',
						'Thất bại'
					);
				},
			});

			$('#confirm-update-appointment-btn').off('click').on('click', function () {
				updateAppointment(appointmentId, currentBtn);
			});
		});
	});
</script>
