<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="shortcut icon" href="/admin/assets/images/favicon.ico" />
		<%- include('./style') %>
	</head>
	<body>
		<div id="wrapper">
			<!-- Topbar Start -->
			<%- include('./topbar') %>
			<!-- end Topbar -->

			<!-- ========== Left Sidebar Start ========== -->
			<%- include('./sidebar') %>
			<!-- Left Sidebar End -->

			<!-- ============================================================== -->
			<!-- Start Page Content here -->
			<!-- ============================================================== -->

			<div class="content-page">
				<!-- content start -->
				<%- include('./content') %>

				<!-- Footer Start -->
				<%- include('./footer') %>
				<!-- end Footer -->
			</div>

			<!-- ============================================================== -->
			<!-- End Page content -->
			<!-- ============================================================== -->
		</div>

		<%- include('./script') %>
	</body>
</html>
